* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 44px 0 144px 77px;
    font-size: 24px;
    font-weight: 600;
    color: #989D9C;

}

a {
    margin-right: 23px;
    cursor: pointer;
}

.log-in {
    font-size: 24px;
    font-weight: 600;
    color: white;
    width: 130px;
    height: 50px;
    background: #665AE1;
    border-radius: 20.5px;
    border: none;
    cursor: pointer;
}

img {
    width: 568px;
    height: 500px;
    margin: 0 86px -50px 125px;
    display: inline-block;
}

section {
    display: inline-block;
    color: #515151;
    margin-bottom: 40px;
}

h1 {
    font-size: 100px;
    font-weight: 900;    
}

h2 {
    font-size: 58px;
    font-weight: 500;
}

p {
    width: 515px;
    font-size: 24px;
    margin: 32px 0 65px;
}

.explore {
    font-size: 28px;
    font-weight: 700;   
    width: 239px;
    height: 64px;
    gap: 0px;
    border-radius: 20.5px;
    background: #ADFF00;
    border: none;
    cursor: pointer;
}

/* Responsivo para Cell phone */
@media screen and (max-width:430px) {
    header{
        display: none;
    }

    img{
        width: 354px;
        height: 317px;
        margin: 149px 0 24px 25px;
    }

    section{
        margin-left: 70px;
    }

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 30px;
        margin-bottom: 17px;
    }

    p{
        display: none;
    }
}